body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/circles-light.png");
}

* {
  box-sizing: border-box;
  margin: 0;
  /* temporary border to better see work in progress
  border: 1px solid black; */
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

.indexParagraph, img {
  padding-top: 30px;
}

/* p:last-child {
  margin-bottom: 0;
}*/

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
  
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: /*increased from 99*/1000;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
  /*added*/
  top: 0;
}

#logo {
  float: left;
  width: /*increased from 250px*/325px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  /*float: right;*/
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: /*changed from 15px*/5px;
  margin-left: /*changed from 15px*/0px;
  line-height: /* changed from 18px*/15px;
  color: #cccccc;
  text-decoration: none;
  border-left: 1px solid #cccccc;
}

nav a:first-child {
  border-left: 0 none;
}

/* sidebar */

#sidebar {
  /*float: right;*/
  width: 100%;
  /*max-width: 270px;*/
  padding: /*added*/0px 15px /*added*/0px /*added*/30px;
  
  /*margin-bottom: 10px;*/
  /*background: #ffffff;*/
  /*border: 1px solid #dddddd;*/
}

#sidebar-row {
  /*added all*/ background-color: #ffffff;
  padding: 0px 5px 0px 5px;
}

h3,
#sidebar h2 {
  padding-bottom: /*reduced from 20px*/10px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}


.social {
  width: /*reduced from 62px*/40px;
  height: /*reduced from 62px*/40px;
  margin-top: 8px;
  margin-right: 5px;
  /* added */
  padding: 0px 0px 0px 0px;
}

#connect {
  /*added all*/padding: 0px 0px 0px 0px;
  text-align: center;
}

#social {
  /*added all*/padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
}

/*.social:last-child {
  margin-right: 0;
}*/


/* main */

#main-container {
  padding-top: 130px;
  /* added then removed
  min-height: calc(100vh - 70px);
  margin-bottom: 3%;
  margin-top: 8%;*/
  /* seems to impact spacing btwn main container and sidebar 
  padding-right: 0px;*/
  /* added bc it seems to push main container all the way left, aligning with logo*/ 
  padding-left: 3px;
}

.main-section {
  float: left;
  width: /*reduced from 100%*/100%;
  max-width: /* increased from 650px*/960px;
  padding: /*reduced from 30px*/0px /*added the rest*/0px 0px 12px;
  margin: 0 0 40px;
  /*background: #ffffff;*/
  /*border: 1px solid #dddddd;*/
}

/* added new id */
#main-body {
  margin-right: 0px;
}

/* added new id */
#title-row {
  background-color: #ffffff;
}

/* index page */

#interior {
  color: #4aaaa5;
  text-decoration: none;
}

#interior:hover {
  color: #cccccc;
  text-decoration: none;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px /* added */40px /*reduced from 25px*/5px /* added */0px;
  overflow: auto;
}

.work:nth-child(even) {
  /*added*/margin-right: 40px;
}

.work:last-child {
  margin-bottom: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

  /* added */
label {
  margin: 12px 0px 0px 0px;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 /*increased from 0px*/10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

/* hover styling */

#logo:hover,
input[type=submit]:hover {
  background: /* #5e7f7e*/#ff8800;
  /* added */
  transition: background-color 0.8s ease-in;
}

nav a:hover {
  color: /* #5e7f7e*/#4aaaa5;
}*

.social:hover {
  cursor: pointer;
  opacity: 0.8;
}
  /* added */
h1:hover {
  color: /* #5e7f7e*/#ff8800;
  /* added */
  transition: color 0.8s ease-in;
}
  /* added */
h2:hover {
    color: /* #5e7f7e*/#ff8800;
    /* added */
    transition: color 0.8s ease-in;
  }

/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
  /*added*/
  padding-top: 20px;
}

/* sticky footer */

html,
body {
  height: 100%;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -105px;
}

footer,
.push {
  height: 105px;
}

/* Bootstrap overrides */

nav.navbar.navbar-expand-lg {
  margin-left: 0px;
  margin-top: 0px;
  padding: 0px;
}

div#navbarText.collapse.navbar-collapse  {
  /*display: flex;
  justify-content: flex-end;*/
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  padding-right: 0px;
}

.test {
  display: flex;
  justify-content: flex-end;
}

a.nav-link:hover {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #4aaaa5;
}

li.nav-item, li.nav-item.active, li.nav-item.link {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  padding: 0px 5px 0px 5px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link:default {
  color: #777777;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #4aaaa5;
}

#portfolio {
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding-left: 15px;
  padding-right: 15px;
}

/*.row {
  background: #ffffff;
}*/

#aboutContent {
  padding-bottom: 5%;
  /* added */
  background-color: #ffffff;
  margin-bottom: 3%;
}

div.col-md-9 {
  padding-bottom: 0px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

div.col-md-10 {
  padding-bottom: 0px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

#mastheadContainer {
  padding-left: 0px;
  padding-right: 0px;
}

a#logo.navbar-brand {
  margin-left: 0px;
  padding: 0px 15px 0px 15px;
}

#contentTitle {
  margin-top: 35px;
  margin-bottom: 0px;
}

.mr-auto, .mx-auto {
  margin-right: 0 !important;
}

@media (max-width: 992px) {
  #sidebar {
    padding: 0px 15px 0px 10px;
  }
}